<?xml version="1.0" encoding="utf-8"?>
<dataConfig initialized="True" enableDataCaching="false">
  <connectionStrings>
    <add connectionString="Data Source=myServerAddress;Integrated Security=True;User Instance=True;Initial Catalog=SitefinityProductsSample;AttachDBFilename=|DataDirectory|Sitefinity.mdf" providerName="System.Data.SqlClient" dbType="MsSql" name="Sitefinity" />
  </connectionStrings>
</dataConfig>